<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test case suite e-commerce application">
<listeners>
<listener class-name="QKART_TESTNG.ListenerClass"></listener>
</listeners>
<parameter name="user" value="testUser"></parameter>
<parameter name="pass" value="abc@123"></parameter>
<parameter name="address" value="Addr line 1 addr Line 2 addr line 3"></parameter>
<test name="Test case execution on Chrome browser">
<groups>
<run>
<!-- <include name="sanity" />
<include name="regression" /> -->
</run>
</groups>
<parameter name="tc5_prod1" value="YONEX Smash Badminton Racquet"></parameter>
<parameter name="tc5_prod2" value="Tan Leatherette Weekender Duffle"></parameter>
<parameter name="tc6_prod1" value="Xtend Smart Watch"></parameter>
<parameter name="tc6_prod2" value="Yarine Floor Lamp"></parameter>
<parameter name="tc7_prod1" value="Stylecon 9 Seater RHS Sofa Set "></parameter>
<classes>

<class name="QKART_TESTNG.QKART_Tests" />

</classes> 
</test>
</suite> <!-- Suite -->